/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); */

/* declaración de variables para que sea más fácil modificar y darle un estilo a todo el sitio*/
* {
    --font-family: 'Source Sans Pro', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    /* --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
    --blanco: #FFFFFF;
    --color1: #5A2AA2;
    --color2: #7331CB;
    --color3: #A47DFF;
    --color4: #F3A806;
    --color5: #EA9406;
}

/* ESTILOS GENERALES */
* {
    font-family: var(--font-family);
}
/* 
.boton, #b1,#b2,#b3,#text {
    color: white;
    border-radius: 3px;
    border: 1px solid #303030;
} */

#text {
    color: #303030;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #00108b;
    border-bottom: 2px solid red;
    background: coral;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}


/* Botón al azar */
#apiButton {
    background-color: rgb(210, 226, 255);
    border-radius: 5px;
    text-align: center;
    border: 3px solid cornflowerblue;
    width: 200px;
}
#botonn {
    text-align: center;
    width: 430px;
    padding: 0;
    margin: 10px;
}

/*contenedor de la info del Pokémon random */
#tarjeta {
    /* display: flex;
    flex-direction: column;
    flex-basis: 520px;
    flex-shrink: 2; */
    /* text-align: center; */
    /* justify-content: center; */
    width: 400px;
    border: 5px solid cornflowerblue;
    background-color: rgb(235, 231, 208);
    border-radius: 20px;
    padding: 5px 15px;
}

#numero {
    font-weight: bold;
    font-size: 2em;
    margin: 0.2em 0 0;
}

#name {
    /* height: 2em; me prepara el lugar vacío */
    font-size: 2em;
    font-weight: bold;
    margin: 0.2em 0;
    text-transform: uppercase;
}

#tipos {
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 1em;
    text-transform: uppercase;
}

#hoverInfo {
    font-size: 0.8em;
    margin: 0 0 2emp;
}

span {
    display: inline-block;
    width: 7em;
    height: 1.5em;
    text-align: center;
    border-radius: 30px 5px;
    font-weight: bold;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
}

img {
    padding: 20px;
    background-color: rgb(255, 251, 243);
    margin: 1em 0;
    border: 5px solid cornflowerblue;
    border-radius: 20px;
    width: 200px;
    transition: 0.4s;
    object-fit: cover;
}

img:hover {
    transform: scale(1.1);
    /* filter: blur(0px) */
}